*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
    background-image: url(./images/background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    overflow: hidden;
}
.cal-container{
    width: 25.2vw;
    height: 80vh;
    border: 0.15vw solid #e6e6e6;
    border-radius: 1.5vw;
    box-shadow: 8px 8px 20px black,
                 -8px -8px 20px black;
    background-color: #e6e6e6;
    position: relative;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding-left: 2vw;
    padding-right: 1.5vw;
}

button{
    width: 4.2vw;
    height: 3.8vw;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border-radius: 1vw;
    border:transparent;
    background-color: #0c0c0cb4;
    color: white;
    font-weight: bold;
    box-shadow: 0 -4px 7px #030303;
}
.display-wrapper{
    position: relative;
    width: 21.7vw;
        height: 7vw;
        margin-left: 1.5vw;
        margin-top: 2.5vw;
        margin-bottom: 3.3vw;
        background-color: #c4c1c1;
        border-radius: 1vw;
        cursor: pointer;
        overflow:hidden;
        box-shadow: inset -3px -3px 6px #c5c1c1, 
                     inset 4px 4px 6px #03030385;
}
.display-text{
text-align: right;
    padding-right: 1.2vw;
    padding-top: 1vw;
    line-height: 1;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.live-inside{
    position: absolute;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    right: 1.1vw;
    top: 4vw;
}

.clear{
    background-color: #d63031;
    border: transparent;
}

.operators{
  color: #2979ff;
}
.operator{
    background-color: #2979ff;
    border-color: #2979ff;
}

@media (max-width : 768px) {
    body{
        margin-top: 0;
        background-image: none;
    }
    .cal-container {
            width: 99.9vw;
            height: 100vh;
            border-radius: 2vw;
            box-shadow: 0 0 35px;
        }
    .buttons{
        gap: 0;
        padding-left: 12.5vw;
        padding-right: 0.5vw;
    }
    button{
        width: 10.2vw;
        height: 8.8vw;
        border-radius: 2.3vw;
        font-size: 2.5rem;
        margin-bottom: 3vw;
    }
        .display-wrapper {
            width: 85vw;
            height: 18vw;
            margin-left: 7.5vw;
            margin-top: 6.5vw;
            margin-bottom: 12vw;
            border-radius: 1.5vw;
        }
    
        .display-text {
            padding-right: 3.5vw;
            padding-top: 1.8vw;
            font-size: 3.2rem;
        }
    
        .live-inside {
            font-size: 3.2rem;
            right: 4vw;
            top: 9.8vw;
        }
    
}

@media (max-width : 430px) {
    body {
            margin-top: 0;
            background-image: none;
        }
    
        .cal-container {
            width: 99.99vw;
            height: 100vh;
            border-radius: 2.5vw;
            box-shadow: 0 0 35px;
        }
    
        .buttons {
            gap: 8vw;
            padding-left: 5.8vw;
            padding-right: 4vw;
        }
    
        button {
            width: 14.2vw;
            height: 11.8vw;
            border-radius: 3vw;
        }
         .display-wrapper {
             width: 90vw;
             height: 28.5vw;
             margin-left: 5vw;
             margin-top: 8.5vw;
             margin-bottom: 22vw;
             border-radius: 2vw;
         }
    
         .display-text {
             padding-right: 5vw;
             padding-top: 2vw;
             font-size: 3.5rem;
         }
    
         .live-inside {
             font-size: 3.5rem;
             right: 6vw;
             top: 14.5vw;
         }
       
}

@media (max-width : 360px) {
    /* body {
        margin-top: 0.5vw;
    } */

    .cal-container {
        width: 99.99vw;
        height: 100vh;
    }

    .buttons {
        gap: 7vw;
        padding-left: 4.5vw;
        padding-right: 4vw;
    }

    button {
        width: 17.2vw;
        height: 14.8vw;
        margin-bottom: 4.5vw;
        border-radius: 3.5vw;
        font-size: 2rem;
    }

         .display-wrapper {
             width: 90vw;
             height: 38.5vw;
             margin-left: 5vw;
             margin-top: 11.5vw;
             margin-bottom: 26vw;
             border-radius: 2.5vw;
         }
    
         .display-text {
             padding-right: 5vw;
             padding-top: 4vw;
             font-size: 3.2rem;
         }
    
         .live-inside {
             font-size: 3.2rem;
             right: 6vw;
             top: 21.5vw;
         }
}